* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  min-width: 380px;
}

body {
  text-align: center;
  background: #028090;
  color: #fff;
  font-family: "Helvetica neue", sans-serif;
  font-weight: 100;
  font-size: 3.125rem;
  height: 100vh;
}
.update-ctnr {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  margin: 0 auto;
  padding: 20px;
  border: 10px solid var(--base);
}

/* ==== TYPOGRAPHIE ==== */
:root {
  --base: #bada55;
  --spacing: 10px;
  --blur: 10px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.hl {
  color: var(--base);
}

h2 {
  text-shadow: 2px 2px rgb(256, 256, 45, 0.7);
}

/* ==== LAYOUT ==== */
img {
  max-width: 100%;
}
.controls {
  margin: 40px 0 15px 0;
  display: flex;
  flex-direction: column;
}

.spacing,
.blur,
.base {
  display: flex;
  justify-content: center;
  padding: 10px;
}

label {
  padding-right: 10px;
  font-size: 2rem;
}

input {
  width: 100px;
}

.base,
input {
  align-items: center;
}

/* @media screen and (min-width: 386px) {
  h2 {
    font-size: 2.5rem;
  }
  label {
    font-size: 3rem;
  }
} */

@media screen and (min-width: 786px) {
  h2 {
    font-size: 5rem;
  }
  label {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  label {
    font-size: 3rem;
  }
}
